body {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "navbar navbar" 
    "main main"
    "footer footer";
}

nav {
    grid-area: navbar;
}

main {
    grid-area: main main;
}

footer {
    grid-area: footer;
}