/* Custom font from other website */
@font-face {
    font-family: Calibre-Font-Light;
    src: url(/Fonts/TestCalibre-Light.otf);
}

@font-face {
    font-family: Calibre-Font-Regular;
    src: url(/Fonts/TestCalibre-Regular.otf);
}

@font-face {
    font-family: Calibre-Font-Medium;
    src: url(/Fonts/TestCalibre-Medium.otf);
}

@font-face {
    font-family: Calibre-Font-Semibold;
    src: url(/Fonts/TestCalibre-Semibold.otf);
}

@font-face {
    font-family: Calibre-Font-Bold;
    src: url(/Fonts/TestCalibre-Bold.otf);
}


*{
    font-family: 'Calibre', sans-serif;
    
}

h1, p {
    text-align: left;
    
}

.container{
    position: relative;
    text-align: left;
    color: white;
}

.headline {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-90%, 50%);
    margin-top: -600px;
    color: #F79431;
}

.placeholder {
    font-weight: 500;
    font-size: 24px;
    outline: #000;
}

.hook {
    font-size: 96px;
    font-weight: 600;
}

.hero-image {
    opacity: 55%;
}
/* Navigation Menu */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: none;
    background-color: #fff;
    display: block;
}

.nav-links {
    float: right;
}

.nav-page {
    position: relative;
    padding: 8px;
    color: #000;
    text-decoration: none;
    margin-top: -70px;
    font-size: 20px;
    text-transform: uppercase;
}

.menu {
    padding: 70px;
}

.nav-page {
    margin-right: 90px;
}

.nav-page::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 4px;
    width: 90%;
    background: #F79431;
    border-radius: 50px;
    transform: scale(0);
    transition: transform 0.2s linear;
}

.nav-page:hover::before {
    transform: scale(1);
}

.nav-page:active::before {
    transform: scale(1);
}

/* Product links */

.product-link {
    border-radius: 50%;
    margin-right: 90px;
}

fa-solid fa-city
{
    align-items: left;
}